In [82]:
import requests
import urllib.request
import time
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
from urllib.request import urlopen
url = 'https://en.wikipedia.org/wiki/List_of_dairy_products'
html = urlopen(url) 
soup = BeautifulSoup(html, 'html.parser')

In [86]:
import urllib.request

url = 'https://en.wikipedia.org/wiki/List_of_dairy_products'
req = urllib.request.urlopen(url)
article = req.read().decode()

with open('ISO_3166-1_alpha-2.html', 'w') as fo:
    fo.write(article)

In [130]:

URL = "https://en.wikipedia.org/wiki/List_of_dairy_products"

res = requests.get(URL).text
soup = BeautifulSoup(res)

In [132]:
tables = soup.find_all('table',class_="wikitable sortable")

# extract the column names
column_names = [item.get_text() for item in tables[0].find_all('th')]

# extract the content
contents = [item.get_text() for item in tables[0].find_all('td')]

# put all the content into a list

In [146]:
Letters = soup.find_all('th')
# international = [soup.find('span',{"id":"International_operators"}).parent]
# countries = countries+international
# for c in countries:
#     table = c.find_next_sibling("table")
#     if table is not None: #check the coutries has table
#         for item in table.select('tr')[1:]:
#             values = [e.get_text() for e in item.select('td')]
#             values = [c.text]+values
#             values_list.append(values)

# header_list = ["COUNTRY"]+ column_names

In [167]:
df = pd.DataFrame(columns= ['Name', 'Image', 'Origin', 'Description'])
for i in range(1, 2):
    contents = pd.read_html(URL, header=0)[i]
    df.append(contents)

In [172]:
contents = pd.read_html(URL, header=0)[0]
contents

,Name,Image,Origin,Description
0,Aarts,NaN,NaN,Dried fermented milk often mixed with various ...
1,Acidophiline,NaN,USSR,"A drinkable yogurt, with Lactobacillus acidoph..."
2,Amasi,NaN,South Africa,The common word for fermented milk that tastes...
3,Ayran,NaN,Turkey,Turkish beverage of yogurt mixed with cold wat...

In [ ]:
contents = pd.read_html(URL, header=0)[0]

In [190]:
def add_table(i):
    new_contents = pd.read_html(URL, header=0)[i]
    contents = contents.append(new_contents)
    return contents

In [191]:
add_table(1)

UnboundLocalError: local variable 'contents' referenced before assignment

In [200]:
contents = pd.read_html(URL, header=0)[0]
for i in range(1, 23):
    new_contents = pd.read_html(URL, header=0)[i]
    contents = contents.append(new_contents)

In [201]:
contents

,Name,Image,Origin,Description,Unnamed: 4
0,Aarts,NaN,NaN,Dried fermented milk often mixed with various ...,NaN
1,Acidophiline,NaN,USSR,"A drinkable yogurt, with Lactobacillus acidoph...",NaN
2,Amasi,NaN,South Africa,The common word for fermented milk that tastes...,NaN
3,Ayran,NaN,Turkey,Turkish beverage of yogurt mixed with cold wat...,NaN
0,Basundi,NaN,India,"An Indian dessert mostly in Bihar, Maharashtra...",NaN
...,...,...,...,...,...
2,Yakult,NaN,Created by Japanese scientist Minoru Shirota,A probiotic dairy product made by fermenting a...,NaN
3,Yayık ayranı,NaN,Turkey,A salted and diluted buttermilk preparation fr...,NaN
4,Ymer,NaN,Denmark,a Danish soured milk product which has been kn...,NaN
5,Yogurt,NaN,NaN,A fermented milk product produced by bacterial...,NaN
0,Žinčica,NaN,Slovakia,A drink made of sheep milk whey similar to kef...,NaN

In [205]:
contents.drop('Image', axis=1, inplace=True)

In [207]:
contents.drop('Unnamed: 4', axis=1, inplace=True)

In [208]:
contents

,Name,Origin,Description
0,Aarts,NaN,Dried fermented milk often mixed with various ...
1,Acidophiline,USSR,"A drinkable yogurt, with Lactobacillus acidoph..."
2,Amasi,South Africa,The common word for fermented milk that tastes...
3,Ayran,Turkey,Turkish beverage of yogurt mixed with cold wat...
0,Basundi,India,"An Indian dessert mostly in Bihar, Maharashtra..."
...,...,...,...
2,Yakult,Created by Japanese scientist Minoru Shirota,A probiotic dairy product made by fermenting a...
3,Yayık ayranı,Turkey,A salted and diluted buttermilk preparation fr...
4,Ymer,Denmark,a Danish soured milk product which has been kn...
5,Yogurt,NaN,A fermented milk product produced by bacterial...
0,Žinčica,Slovakia,A drink made of sheep milk whey similar to kef...

In [212]:
contents.to_csv(r"/Users/avonleafisher/Desktop/Flatiron Data Science/section03/21_Object_oriented_Programming/dsc-instance-variables-lab-onl01-dtsc-ft-07062\0Dairy.csv")